<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
  <title>2018 PDX Tech Crawl</title>
  <link rel="stylesheet" href="assets/reset.css">
  <link rel="stylesheet" href="assets/styles.css">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="assets/map-styles.css">
</head>

<body>
  <div class="page-content">
    <div class="side-bar">
      <ol>
        <li rv-each-company='model.companies' rv-on-click='model.handleCompanyClick'>
          <div rv-id='index | increment' class="indexedItem"></div>
          <div rv-if='company.isHighlighted' class='highlight'></div>
          <div class="special-item">
            <p class="special-text">{ company.name }</p>
            <p class="address">{ company.address }</p>
            <p class="special-instructions">{ company.specialInstructions }</p>
          </div>
          <div rv-if='company.isHighlighted' class='highlight-down'></div>
          <div rv-if='company.isHighlighted' class='highlight-left'></div>
        </li>
      </ol>
    </div>

    <div class="map" id='techcrawl-map'>
      <center class="smaller-screen-item">
        <div class="company-number">
          <p>21</p>
          </div>
          <div class="company-info">
          <p class="address">220 NW 8th Ave</p>
          <p class="special-instructions">-Enter through the east side door off 9th & Washington.</p>
          <p class="company">Marquam</p>
        </div>
      </center>
    </div>

  </div>

  <div class="top-bar">

    <div class="top">
      <div class="side-bar side-bar-top helvetica">
        <h1>PDX</h1>
        <h2>TechCrawl</h2>
        <h1>2018</h1>
        <div class="open-sans small-header-text">
          <p class="bold">Brought to you by The Dyrt</p>
          <p class="bold">Thursday, September 7</p>
          <p>5 - 11PM | Downtown PDX</p>
        </div>
      </div>
    </div>

  </div>
  <script src='assets/vendor/rivets.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
  <script src='assets/js/companies.js'></script>
  <script src='assets/js/app.js'></script>
</body>
</html>
