/*clear*/
/**/
/*utilty classes*/
  .helvetica {font-family: Dosis,'Helvetica Neue',Arial,Helvetica,sans-serif;}
  .open-sans {font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,sans-serif;}
  .upper-case {text-transform: uppercase !important;}
  .bold {font-weight: bold}
  .weird-green {color: #27B5A9}
/**/
:root {
  --max-width: 1200px;
  --top-bar-height: 400px;
  --sidebar-width: 300px;
  --dyrt-blue: #31435F;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--dyrt-blue);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  counter-reset: item;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: block;
}

.page-content {
  max-width: var(--max-width);

  margin-left: auto;
  margin-right: auto;

  position: relative;
  top: var(--top-bar-height);

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.page-content .side-bar {
  position: relative;
  width: 100%;
  max-width: var(--sidebar-width);
}

.page-content .map {
  width: calc(var(--max-width) - var(--sidebar-width));
  overflow: hidden;
  height: 100vh;
  background: grey;
  /* background-image: url(https://cdn3.iconfinder.com/data/icons/popular-memes/48/JD-10-512.png); */
  background-size: cover;

  /* required for Safari */
  position: -webkit-sticky;
  position: sticky;
  /* required as well. */
  top: 0;
}

.top-bar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--top-bar-height);
  background-image: url(https://media.bizj.us/view/img/6778422/tfnw-2015-img3151*1200xx3264-1836-0-306.jpg);
  background-size: cover;
}

/* .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center bottom;
  min-height: 400px;
  width:100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
} */

/* .side-bar {
  width: 100%;
  max-width: 300px;
  border: 1px solid white;
  float: left;
} */

/* .map {
  max-width: 892px;
  border: 1px solid white;
  margin-left: 308px;
  height: 100vh;
  background: grey;
  background-image: url(https://cdn3.iconfinder.com/data/icons/popular-memes/48/JD-10-512.png);
  background-size: cover;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
} */

.side-bar-top {
  max-width: 300px;
  padding: 40px 0 0 0;
  text-shadow: 0 0 .5em rgba(0,0,0,.7);
}

/* .side-bar-top {

} */

/* .small-header-text {
  top: 15px;
  display: block;
  position: relative;
} */

.top {
  text-align: center;
  line-height: 10px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {font-weight: 600}

.top h1 {font-size: 4em;}

/* .top h2 {font-size: 28px;} */

/* .hero-image-shadow-fix {
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 7px 20px -7px rgba(0,0,0,0.4);
  position: absolute;
} */

/* .bottom {
  width: 100%;
  height: 100vh;
  background-color: #31435F;
  position: relative;
  padding-top: 400px;
} */

.page-content .side-bar {
  border-right:2px solid white;
  border-left: 2px solid white;
  position: relative;
  padding: 15px 2px 0px 2px;
  /* height: calc(100vh - 15px); */
  background: #31435F;
}

/* .bottom .side-bar::after {
  content: "";
  position: absolute;
  bottom: 0; top: 0px; left: 0; right: 0;
  border-top: 15px solid #F5B536;
} */

/* .page-content {
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.4);
  -o-box-shadow: 0 0 20px rgba(0,0,0,.4);
  position: relative;
  z-index: 4;
} */

.page-content .side-bar ol {
  color: #F5B536;
  list-style: none;
  margin-top: -45px;
  margin-bottom: 0;
}

.page-content .side-bar ol li {
  counter-increment: item;
  margin-top: -50px;
}

.page-content .side-bar ol li div {
  margin-left: 15px;
  padding-right: 12px;
}

.page-content .side-bar ol li div p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-content .side-bar ol li::before {
  margin-right: 0px;
  content: counter(item);
  background-image: url(https://email-assets.thedyrt.com/2017/images/number-icon.png);
  color: white;
  width: 2em;
  text-align: center;
  display: inline-block;
  line-height: 53px;
  position: relative;
  bottom: -50px;
  left: -29px;
  background-repeat: no-repeat;
  background-position-x: 0.05em;
  background-position-y: 14px;
  font-size: 14px;
  margin-top: 15px;
}

.address {color: white;}

.special-instructions {
  font-weight: 100;
  color: white;
  line-height: normal;
}

.smaller-screen-item {
  display: none;
}

.smaller-screen-item div {
  text-align: left;
}

.company-number {
  color: white;
  background-image: url(https://email-assets.thedyrt.com/2017/images/number-icon.png);
  background-position-x: 0.05em;
  background-position-y: 0px;
  background-repeat: no-repeat;
  height: 40px;
  width: 30px;
  position: absolute;
  top: 32px
}

.company-number p {
  position: relative;
  top: -11px;
  left: 7px;
  font-size: 14px;
}

.company-info {
  margin-left: 50px;
}

.company-info p {
  margin-top: 0;
  margin-bottom: 0;
}

.highlighted-is-true {
  background: yellow
}


/************************************Media Queries************************************/

@media screen and (max-width: 850px) {
  .page-content .side-bar {
    display: none
  }

  .map {
    margin-left: 0;
    position: relative;
    width: 100%;
  }

  .top .side-bar {
    max-width: 100%;
  }

  .smaller-screen-item {
    background: #31435F;
    padding: 20px;
    margin: 0 auto;
    display: block;
    max-width: 350px;
    width: 100%;
    border: 2px solid white;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -200px;
    color: #F5B536;
  }
}

@media screen and (max-width: 450px) {
  .smaller-screen-item {
    width: calc(100vw - 60px);
    max-width: calc(100vw - 60px);
    margin-left: 8px;
    left: 0;
  }
}
